<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Login | Dhaka Car Rental</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">


  <!-- Custom fonts for this template -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i"
    rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="assets/css/coming-soon.css" rel="stylesheet">
  <link href="assets/css/login.css" rel="stylesheet">

</head>

<body>

  <div class=""></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="assets/mp4/back.mp4" type="video/mp4">
  </video>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
		    <a href="index.html">
          <img src="assets/img/car2.png" alt="" style="margin:50px 0px;" width="180" height="180" margin:50px 0px/>
	      </a>
	    </div>
  
      <!-- Login Form -->
      <form action="../Controller/loginController.php" method="POST">
        <input type="text" id="login" class="fadeIn second" name="username" placeholder="username">
        <input type="password" id="password" class="fadeIn third" name="pass" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
		    <a class="underlineHover" href="#">Forgot Password?</a> <br><br>
		    <a class="underlineHover" href="register.html">Sign up</a>
      </div>
    </div>
  </div>

  

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="assets/js/coming-soon.min.js"></script>

</body>

</html>